.grid-container {
    background-color:slategrey;
    width: 100%;
    height: 200%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.background {
    background-color: azure;
    grid-column: 2/3;
    grid-row: 1/4;
}

.city-scape {
    grid-column: 2/3;
    grid-row: 1/2;
}