.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.sub-header {
    font-size: 100px;
    text-align: center;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 60%;
    letter-spacing: 0.1em;
    color: rgb(165, 31, 31);
}

.cherries {
    grid-column: 1/2;
    grid-row: 1/2;
}

.header{
    letter-spacing: 0.1em;
    font-size: 150px;
    z-index: 2;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.half-background {
    grid-column: 2/3;
    grid-row: 1/2;
    background: rgb(207, 207, 207);
}